// Typography Variables
$font-family: "Avenir Next", sans-serif;

// Desktop & Tablet Text Styles
$desktop-page-header-size: 60px;
$desktop-page-header-line-height: 68px;
$desktop-page-header-weight: 700;

$desktop-section-header-size: 36px;
$desktop-section-header-line-height: 44px;
$desktop-section-header-weight: 700;

$desktop-subheader-size: 24px;
$desktop-subheader-line-height: 32px;
$desktop-subheader-weight: 600;

$desktop-body-copy-size: 14px;
$desktop-body-copy-line-height: 22px;
$desktop-body-copy-weight: 400;

$desktop-footer-copy-size: 14px;
$desktop-footer-copy-line-height: 20px;
$desktop-footer-copy-weight: 400;

$desktop-labels-buttons-size: 12px;
$desktop-labels-buttons-line-height: 20px;
$desktop-labels-buttons-weight: 700;

// Mobile Text Styles
$mobile-page-header-size: 24px;
$mobile-page-header-line-height: 32px;
$mobile-page-header-weight: 700;

$mobile-section-header-size: 24px;
$mobile-section-header-line-height: 32px;
$mobile-section-header-weight: 700;

$mobile-subheader-size: 14px;
$mobile-subheader-line-height: 22px;
$mobile-subheader-weight: 600;

$mobile-body-copy-size: 13px;
$mobile-body-copy-line-height: 18px;
$mobile-body-copy-weight: 400;

$mobile-footer-copy-size: 13px;
$mobile-footer-copy-line-height: 18px;
$mobile-footer-copy-weight: 400;

$mobile-labels-buttons-size: 10px;
$mobile-labels-buttons-line-height: 20px;
$mobile-labels-buttons-weight: 700;
