// _global.scss

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  font-family: $site-main-font;
  color: $site-font-color;
  background: $color-primary-light;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: $color-primary-dark;
  color: $color-primary-light;
  justify-content: space-between; // UGH FIGURE THIS OUT
  padding: 20px 50px;

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .nav__title {
    font-size: 1.8em;
    font-weight: 100; // CHANGE THIS
    margin: 0;
    text-transform: uppercase;
  }

  .nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
    justify-content: space-between;

    .nav__link {
      color: inherit;
      text-decoration: none;
      padding: 10px 15px;
      font-size: 1em;
      font-weight: normal;
      transition: color 0.3s, border-bottom 0.3s;
      flex-grow: 1; // Make the list items take up remaining space

      &:hover {
        color: $color-secondary-light;
        border-bottom: 2px solid $color-secondary-light;
      }

      &.active {
        font-weight: bold;
        border-bottom: 2px solid $color-secondary-light;
      }
    }
  }
}

.hero {
  background-image: url("../../assets/Images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: left;
  padding: 100px 20px;
  position: relative;
  height: 15rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.5);
  background-blend-mode: multiply;

  .hero__content {
    position: relative;
    z-index: 2;

    h1 {
      color: $color-primary-light;
      font-size: 2.5em;
      margin: 0;
      font-weight: 600;
    }
  }
}

.about {
  padding: 20px 20px;

  h2 {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
  }

  blockquote {
    margin: 20px 0;
    padding: 0px 10px;
    color: $site-font-color;
    font-weight: bold; //REDUCE LINE SPACING BETWEEN TWO QUOTES
  }

  h3 {
    font-size: 1.5em;
    margin-top: 20px;
    color: $site-font-color;
  }

  &__bold {
    font-weight: 500; //FIGURE THIS SIZE OUT
  }

  p {
    margin: 20px 0;
    color: $site-font-color;
    line-height: 1.6;
  }
}

.gallery {
  padding: 10px 20px;
  background-color: $alternative-light-background-color;

  h2 {
    text-align: left;
    font-size: 2em;
    font-weight: 700; //???
    margin-bottom: 20px;
  }

  .gallery__wrapper {
    display: grid;
    grid-template-columns: 1fr; // Single column for mobile
    grid-gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr); // Three columns for tablet and up
    }

    .gallery__card {
      width: 100%;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.footer {
  background-color: $color-primary-dark;
  color: $color-secondary-light;
  padding: 24px 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
  flex-direction: column;

  &__title--bold {
    font-weight: 400;
    font-size: 2rem;
  }

  &__bold {
    font-weight: 600;
  }

  &__logo {
    height: 24px;
  }
  &__bandsite {
    h3 {
      text-transform: uppercase;
      font-weight: 400;
    }
  }
  &__section {
    flex: 1 1 200px;
    margin: 10px;
    display: flex;
    gap: 45px;
    flex-direction: row;
    text-align: left;

    h3 {
      // What's footer__section now?
      font-size: 1.2em;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: 400;
    }

    p {
      margin: 5px 0;
      line-height: 1.5;
    }
  }

  .hero {
    padding: 60px 15px;
  }
}
