// _global.scss

ul {
  list-style: none;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $site-main-font;
  color: $site-font-color;
  margin: 0;
  padding: 0;
  background: $color-primary-light;
}

.nav {
  background-color: $color-primary-dark;
  color: $color-primary-light;
  padding: 10px 20px;

  .nav__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;

    &:hover {
      color: $color-secondary-light;
    }
  }
}

.hero {
  background-image: url("../assets/Images/hero-background.jpg") no-repeat center
    center/cover;
  text-align: center;
  padding: 40px 20px;
}

.about,
.gallery {
  padding: 20px;
}

.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.footer {
  background-color: $color-primary-dark;
  color: $color-secondary-light;
  padding: 20px;
  text-align: center;

  .footer__section {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .nav__list {
    flex-direction: column;
  }
}
