@font-face {
  font-family: "Avenir Next Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next Demi";
  src: url("../../assets/fonts/AvenirNext-Demi.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../../assets/fonts/AvenirNext-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

$site-main-font: "Avenir Next Regular";
$site-secondary-font: "Avenir Next Demi";

// Colors
$site-font-color: #323232;

// DESKTOP & TABLET TEXT STYLES
$desktop-page-header-font-size: 60px;
$desktop-page-header-line-height: 68px;
$desktop-page-header-font-weight: 700;

$tablet-page-header-font-size: 60px;
$tablet-page-header-line-height: 68px;
$tablet-page-header-font-weight: 700;

$desktop-section-header-font-size: 36px;
$desktop-section-header-line-height: 44px;
$desktop-section-header-font-weight: 700;

$tablet-section-header-font-size: 36px;
$tablet-section-header-line-height: 44px;
$tablet-section-header-font-weight: 700;

$desktop-subheader-font-size: 24px;
$desktop-subheader-line-height: 32px;
$desktop-subheader-font-weight: 600;

$tablet-subheader-font-size: 24px;
$tablet-subheader-line-height: 32px;
$tablet-subheader-font-weight: 600;

$desktop-body-copy-font-size: 14px;
$desktop-body-copy-line-height: 22px;
$desktop-body-copy-font-weight: 400;

$tablet-body-copy-font-size: 14px;
$tablet-body-copy-line-height: 22px;
$tablet-body-copy-font-weight: 400;

$desktop-footer-copy-font-size: 14px;
$desktop-footer-copy-line-height: 20px;
$desktop-footer-copy-font-weight: 400;

$tablet-footer-copy-font-size: 14px;
$tablet-footer-copy-line-height: 20px;
$tablet-footer-copy-font-weight: 400;

$desktop-labels-buttons-font-size: 12px;
$desktop-labels-buttons-line-height: 20px;
$desktop-labels-buttons-font-weight: 700;

$tablet-labels-buttons-font-size: 12px;
$tablet-labels-buttons-line-height: 20px;
$tablet-labels-buttons-font-weight: 700;

// MOBILE TEXT STYLES
$mobile-page-header-font-size: 24px;
$mobile-page-header-line-height: 32px;
$mobile-page-header-font-weight: 700;

$mobile-section-header-font-size: 24px;
$mobile-section-header-line-height: 32px;
$mobile-section-header-font-weight: 700;

$mobile-subheader-font-size: 14px;
$mobile-subheader-line-height: 22px;
$mobile-subheader-font-weight: 600;

$mobile-body-copy-font-size: 13px;
$mobile-body-copy-line-height: 18px;
$mobile-body-copy-font-weight: 400;

$mobile-footer-copy-font-size: 13px;
$mobile-footer-copy-line-height: 18px;
$mobile-footer-copy-font-weight: 400;

$mobile-labels-buttons-font-size: 10px;
$mobile-labels-buttons-line-height: 20px;
$mobile-labels-buttons-font-weight: 700;
