// Color Variables
$color-primary-dark: #323232; // BandSite-Black
$color-primary-light: #ffffff; // White

$color-secondary-dark: #000000; // BandSite-DarkBlack
$color-secondary-light: #fafafa; // Alabaster
$color-secondary-inactive: #afafaf; // Silver

$color-divider: #e1e1e1; // Mercury

// Divider Variables
$divider-desktop-stroke-width: 1px;
$divider-desktop-fill-color: #e1e1e1; // Mercury

$divider-tablet-stroke-width: 1px;
$divider-tablet-fill-color: #e1e1e1; // Mercury

$divider-mobile-stroke-width: 1px;
$divider-mobile-fill-color: #e1e1e1; // Mercury
