// _global.scss

@use "./mixins" as *;
@use "./variables" as *;

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  font-family: $site-main-font;
  color: $site-font-color;
  background: $color-primary-light;
  margin: 0;
  padding: 0;
}

li {
  width: 100%;
  display: flex;
  justify-content: center;
  @include tablet {
    width: fit-content;
  }
}

.active {
<<<<<<< HEAD
  border-bottom: 4px solid white;
=======
  border-bottom: 0.25rem solid white;
>>>>>>> sprint-3
}

.nav {
  background-color: $color-primary-dark;
  color: $color-primary-light;
  justify-content: space-between;
<<<<<<< HEAD
  padding: 20px 0px 0px 0px;
=======
  padding: 2rem 0;
>>>>>>> sprint-3
  @include tablet {
    padding: 0;
  }

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  .nav__title {
    @include tablet {
<<<<<<< HEAD
      padding: 20px 50px;
=======
      padding: 2rem 5rem;
>>>>>>> sprint-3
    }
  }

  .nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    @include tablet {
      justify-content: flex-start;
      margin: 0 0 0 5rem;
      gap: 2rem;
      height: 100%;
    }

    .nav__link {
      color: $color-secondary-inactive;
      text-decoration: none;
<<<<<<< HEAD
      padding: 10px 15px;
      font-size: 1em;
      font-weight: normal;
      transition: color 0.3s, border-bottom 0.3s; //FIGURE OUT
=======
      padding: 1rem 1.5rem;
      font-size: 1rem;
      font-weight: normal;
      transition: color 0.3s, border-bottom 0.3s;
>>>>>>> sprint-3
      flex-grow: 1;
      display: flex;
      justify-content: center;
      @include tablet {
        width: fit-content;
      }

      &:hover {
        color: $color-secondary-light;
<<<<<<< HEAD
        border-bottom: 2px solid $color-secondary-light;
=======
        border-bottom: 0.125rem solid $color-secondary-light;
>>>>>>> sprint-3
      }

      &.active {
        color: $color-primary-light;
        font-weight: bold;
<<<<<<< HEAD
        border-bottom: 2px solid $color-secondary-light; //SPACE BELOW
=======
        border-bottom: 0.125rem solid $color-secondary-light;
>>>>>>> sprint-3
      }
    }
  }
}

.footer {
  background-color: $color-primary-dark;
<<<<<<< HEAD
  color: $color-secondary-light;
  padding: 40px 30px;
=======
  color: $color-primary-light;
  padding: 4rem 3rem;
>>>>>>> sprint-3
  text-align: left;
  flex-wrap: wrap;

  .footer__container {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    gap: 20px;
=======
    gap: 2rem;
>>>>>>> sprint-3
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: left;
<<<<<<< HEAD
    gap: 10px;
    margin-bottom: 20px;
=======
    gap: 1rem;
    margin-bottom: 2rem;
>>>>>>> sprint-3
    @include tablet {
      display: none;
    }

    .footer__title {
      font-weight: 600;
<<<<<<< HEAD
      font-size: 2em;
=======
      font-size: 2rem;
>>>>>>> sprint-3
      margin: 0;
      line-height: 3rem;
    }

    .footer__socials {
      display: flex;
      align-items: left;
      justify-content: left;
      gap: 2.5rem;
    }
  }

  .footer__contact--tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
<<<<<<< HEAD
    margin-bottom: 0px;
=======
    margin-bottom: 0;
>>>>>>> sprint-3
    width: 100%;
    @media screen and (max-width: 767px) {
      display: none;
    }

    .footer__title {
      font-weight: 600;
<<<<<<< HEAD
      font-size: 2em;
=======
      font-size: 2rem;
>>>>>>> sprint-3
      margin: 0;
      line-height: 3rem;
    }

    .footer__socials {
      display: flex;
      align-items: left;
      justify-content: left;
      gap: 2.5rem;
    }
  }

  .footer__bold {
    font-weight: 600;
  }

  .footer__logo {
<<<<<<< HEAD
    height: 30px;
=======
    height: 1.875rem; // 30px
>>>>>>> sprint-3
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
  }

  .footer__bandsite {
    text-align: left;
<<<<<<< HEAD
    margin-top: 20px;
=======
    margin-top: 2rem;
>>>>>>> sprint-3

    h3 {
      text-transform: uppercase;
      font-weight: 400;
<<<<<<< HEAD
      font-size: 1.5em;
=======
      font-size: 1.5rem;
>>>>>>> sprint-3
      margin: 0;
    }
  }

  .footer__content {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    gap: 10px;
    margin-bottom: 40px;
=======
    gap: 1rem;
    margin-bottom: 4rem;
>>>>>>> sprint-3
    @media screen and (max-width: 767px) {
      p {
        margin: 0;
      }
    }
  }

  @include tablet {
    .footer__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
<<<<<<< HEAD
      padding: 20px 50px;
=======
      padding: 2rem 5rem;
>>>>>>> sprint-3
      width: 100%;
    }

    .footer__content {
      flex: 1;
<<<<<<< HEAD
      padding: 0 20px;
=======
      padding: 0 2rem;
>>>>>>> sprint-3
    }

    .footer__bandsite {
      order: -1;
<<<<<<< HEAD
      padding-top: 10px;
=======
      padding-top: 1rem;
>>>>>>> sprint-3
    }
  }

  @include desktop {
    .footer__container {
      justify-content: space-around;
    }

    .footer__bandsite {
      order: 0;
      margin-top: 0;
    }
  }
}

.footer__header {
  @include tablet {
    display: none;
  }
}
<<<<<<< HEAD
=======

>>>>>>> sprint-3
.footer__bandsite--tablet {
  margin-right: 0;
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 400;
<<<<<<< HEAD
    font-size: 1.5em;
=======
    font-size: 1.5rem;
>>>>>>> sprint-3
    margin: 0;
  }
}

.footer__container {
  @include tablet {
    display: flex;
    flex-direction: row;
  }
}

.footer_section {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.middle {
  @include tablet {
<<<<<<< HEAD
    margin: 5px 0;
=======
    margin: 0.3125rem 0; // 5px
>>>>>>> sprint-3
  }
}

.footer__email {
  text-decoration: none;
  color: white;
}
