@use "./partials/mixins" as *;
@use "./partials/variables" as *;

@import "./partials/resets";
@import "./partials/typography";
@import "./partials/global";

.hero {
  background-image: url("../../assets/Images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  text-align: left;
  padding: 10vh 5vw;
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(43, 43, 43, 0.6);
  background-blend-mode: multiply;

  &__content {
    position: relative;
    z-index: 2;

    h1 {
      color: $color-primary-light;
      font-size: 2.5rem;
      margin: 0;
      font-weight: 600;
    }
  }
}

.about {
  padding: 5vh 5vw;

  h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    @include tablet {
      margin-left: 5rem;
    }
  }

  &__container {
    @include tablet {
      padding: 1rem 6rem;
    }
    @include desktop {
      padding: 1rem 10rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 2rem 0;
  }

  blockquote {
    margin: 2rem 0;
    padding: 0 1rem;
    color: $site-font-color;
    font-weight: bold;
    @include tablet {
      font-size: 1.5rem;
    }
    @include desktop {
      width: 45rem;
      font-size: 1.5rem;
    }
  }

  &__quote {
    font-size: 1rem;
  }

  &__content {
    padding: 0 2rem;
    @include tablet {
      display: flex;
      flex: row;
      gap: 2.5rem;
    }
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
    color: $site-font-color;
    display: grid;
    grid-template-columns: 1fr;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      margin: 1rem;
    }

    p {
      margin: 2rem 0;
      color: $site-font-color;
      line-height: 1.6;
    }
  }
}

.gallery {
  padding: 2.5vh 5vw;
  background-color: $alternative-light-background-color;
  @include tablet {
    padding: 1rem 3rem;
  }
  @include desktop {
    padding: 2rem 7rem;
  }

  h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .gallery__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    .gallery__card {
      width: 100%;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 0.5rem 1.25rem rgba(65, 65, 65, 0);

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0.5rem 1.25rem rgba(65, 65, 65, 0.4);
      }
    }
  }
}

.comments {
  padding: 5vh 5vw;
  background-color: $color-primary-light;

  @include tablet {
    margin: 0 10rem;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    hyphens: auto; //THIS CHANGED
    word-wrap: break-word;
    // word-break: break-all;
  }

  h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: $site-font-color;
  }

  &__form-container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;

    .comments__avatar {
      width: 3.125rem; // 50px
      height: 3.125rem;
      border-radius: 50%;
    }
  }

  .comments__label {
    font-size: 1rem;
    color: $color-secondary-inactive;
  }

  .comments__input {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid $color-divider;
    border-radius: 0.3125rem; // 5px
    color: $site-font-color;
    font-family: inherit;
    width: 100%;

    &--textarea {
      min-height: 6.25rem; // 100px
      resize: none;
    }
    &::placeholder {
      color: black;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;

    &__input-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .comments__button {
      padding: 1rem 2rem;
      font-size: 1rem;
      font-weight: bold;
      color: $color-primary-light;
      background-color: $color-primary-dark;
      border: none;
      border-radius: 0.3125rem; // 5px
      cursor: pointer;
      align-self: flex-end;
      width: 100%;

      @include tablet {
        width: 10rem;
      }

      &:hover {
        background-color: darken($color-primary-dark, 10%);
      }
    }
    .comments__delete {
      width: 25%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .comments__item {
      display: flex;
      align-items: flex-start;
      gap: 1rem;

      .comments__avatar {
        width: 3.125rem; // 50px
        height: 3.125rem;
        border-radius: 50%;
        margin-top: 0.5rem;
      }

      .comments__content {
        width: calc(100% - 3.75rem);
        display: flex;
        flex-direction: column;
        margin: 0 1rem;

        .comments__author {
          font-size: 1rem;
          font-weight: bold;
          color: $site-font-color;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .comments__date {
            font-weight: normal;
            color: $color-secondary-inactive;
            font-size: 0.875rem;
          }
        }

        .comments__text {
          font-size: 1rem;
          margin: 0;
          color: $site-font-color;
        }
      }
    }
  }

  &__divider {
    border: 0;
    height: 1px;
    background-color: $color-divider;
    margin: 0;
  }
}
